<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodSwipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
</head>
<body>
    <div class="centered-container">
        {% if session %}
        <header>
            <h1 id="message">Welcome to FoodSwipe, {{session.userinfo.name}}!</h1>
            <button id="create-session" onclick="createNewSession()">Create Session</button>
            <button id="join-session" onclick="joinSession()">Join Session</button>
        </header>
        <br />
        <main id="restaurant-info">
            <u><h2 id="restaurant-name"></h2></u>
            <p></p>
            <div class="image-container">
                <img id="restaurant-image" src="" alt="Restaurant Image">
            </div>
            <div id="restaurant-details">
                <p id="restaurant-rating"></p>
                <p id="restaurant-options"></p>
                <p id="restaurant-address"></p>
            </div>
            <p id="response-message"></p>
        </main>
        <div id="swipe-buttons">
            <button id="swipe-left" onclick="swipeLeft()">No</button>
            <button id="swipe-right" onclick="swipeRight()">Yes</button>
        </div>
        <div id="session-link" style="display:none;">
            <div>Invite: </div><a id="session-url" href="#">Link</a>
        </div>        
        <nav>
            <a href="/logout" class="logout-button">Logout</a>
        </nav>             
        {% else %}
            <header>
                <h1>Welcome to FoodSwipe!</h1>
            </header>
            <main>
                <p id="please-login">Please login to get started!</p>
                <div id="auth-buttons" class="auth-container">
                    <button onclick="window.location.href='/login'" class="button-primary">Login with Auth0</button>
                    <!-- <button onclick="loginAsGuest()" class="button-secondary">Continue as Guest</button> -->
                </div>
                <br />
                <div id="guest-join-container" class="join-container" style="display: none;">
                    <button onclick="joinSession()" class="button-primary">Join Existing Session</button>
                </div>
            </main>
        {% endif %}
    </div>

    <div id="app"></div>

    <script src="{{ url_for('static', filename='functions.js') }}"></script>
</body>
</html>
